<a href="https://colab.research.google.com/github/tintinap/Maching-Learning-Final-Exam/blob/main/drug_prediction_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/tintinap/Maching-Learning-Final-Exam/main/dataset/drug_prediction/drug200.csv')
data.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

**Content**

The target feature is
*   Drug type

The feature sets are:

*   Age
*   Sex
*   Blood Pressure Levels (BP)
*   Cholesterol Levels
*   Na to Potassium Ration

**<H1> Preprocessing**

In [3]:
# get preprocess_input_mental function from preprocessing.py in colab
# if wanna edit hv to edit in preprocessing.py

#colab file path
%run '/content/function/preprocessing.py'
## import preprocess_input_drug(df)

<h2> Pre-preprocssing Result- check fore preprocessing

In [4]:
#no missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

<h3> Check unique

In [5]:
{column : len(data[column].unique()) for column in data.columns}

{'Age': 57, 'BP': 3, 'Cholesterol': 2, 'Drug': 5, 'Na_to_K': 198, 'Sex': 2}

In [6]:
data['Cholesterol'].unique()

array(['HIGH', 'NORMAL'], dtype=object)

In [7]:
data['Sex'].unique()

array(['F', 'M'], dtype=object)

In [8]:
data['BP'].unique()

array(['HIGH', 'LOW', 'NORMAL'], dtype=object)

In [9]:
data['Drug'].unique()

array(['DrugY', 'drugC', 'drugX', 'drugA', 'drugB'], dtype=object)

<h2> Preprocessing result

In [10]:
df = preprocessing_input_drug(data)
df

          Age  Sex   BP  Cholesterol   Na_to_K  Drug
0    0.135593  0.0  1.0          1.0  0.596848     4
1    0.542373  1.0  0.0          1.0  0.213397     2
2    0.542373  1.0  0.0          1.0  0.120239     2
3    0.220339  0.0  0.5          1.0  0.047814     3
4    0.779661  0.0  0.0          1.0  0.368191     4
..        ...  ...  ...          ...       ...   ...
195  0.694915  0.0  0.0          1.0  0.165676     2
196  0.016949  1.0  0.0          1.0  0.179405     2
197  0.627119  1.0  0.5          1.0  0.113359     3
198  0.135593  1.0  0.5          0.0  0.242385     3
199  0.423729  0.0  0.0          0.0  0.158859     3

[200 rows x 6 columns]

<h2> list dataframe train,test (0.8:0.2)

In [11]:
df_list = df.values.tolist()
for i in range(len(df_list)):
    df_list[i][-1] = int(df_list[i][-1])

df_list[:5]

[[0.13559322033898305, 0.0, 1.0, 1.0, 0.5968478328851085, 4],
 [0.5423728813559322, 1.0, 0.0, 1.0, 0.2133967102382888, 2],
 [0.5423728813559322, 1.0, 0.0, 1.0, 0.12023891425354927, 2],
 [0.22033898305084745, 0.0, 0.5, 1.0, 0.04781412220901867, 3],
 [0.7796610169491526, 0.0, 0.0, 1.0, 0.3681906310588529, 4]]

In [12]:
import random
random.seed(1)
# shuffle df
random.shuffle(df_list, lambda : 0.8)
df_list[:2]

[[0.13559322033898305, 0.0, 1.0, 1.0, 0.5968478328851085, 4],
 [0.5423728813559322, 1.0, 0.0, 1.0, 0.2133967102382888, 2]]

In [13]:
train = df_list[:int(len(df_list)*0.7)]
len(train)

140

In [14]:
test = df_list[int(len(df_list)*0.7):]
len(test)

60

<h2> Pandas dataframe train, test

In [15]:
#train to train_df
train_df = pd.DataFrame(train, columns=df.columns)
train_X = train_df.drop('Drug', axis=1)
train_y = train_df['Drug']
train_df

          Age  Sex   BP  Cholesterol   Na_to_K  Drug
0    0.135593  0.0  1.0          1.0  0.596848     4
1    0.542373  1.0  0.0          1.0  0.213397     2
2    0.542373  1.0  0.0          1.0  0.120239     2
3    0.220339  0.0  0.5          1.0  0.047814     3
4    0.830508  1.0  1.0          0.0  0.458534     4
..        ...  ...  ...          ...       ...   ...
135  0.966102  1.0  1.0          0.0  0.106573     1
136  0.135593  1.0  0.5          1.0  0.330884     4
137  0.593220  1.0  1.0          1.0  0.038183     0
138  0.542373  0.0  0.5          0.0  0.012946     3
139  0.457627  1.0  1.0          0.0  0.203171     0

[140 rows x 6 columns]

In [16]:
test_df = pd.DataFrame(test, columns=df.columns)
test_X = test_df.drop('Drug', axis=1)
test_y = test_df['Drug']
test_df

         Age  Sex   BP  Cholesterol   Na_to_K  Drug
0   0.338983  1.0  0.0          0.0  0.090719     3
1   0.847458  0.0  0.0          0.0  0.234536     3
2   0.084746  0.0  0.5          0.0  0.094190     3
3   0.610169  1.0  1.0          1.0  0.376071     4
4   0.745763  0.0  0.5          1.0  0.238132     3
5   0.881356  1.0  0.5          0.0  0.101476     3
6   0.423729  0.0  0.5          1.0  0.119895     3
7   0.288136  0.0  1.0          0.0  0.125805     0
8   0.779661  0.0  1.0          1.0  0.600600     4
9   0.542373  1.0  1.0          1.0  0.129276     0
10  0.220339  1.0  0.5          1.0  0.650291     4
11  0.000000  1.0  1.0          0.0  0.342016     4
12  0.322034  1.0  0.5          1.0  0.506192     4
13  0.355932  0.0  0.5          1.0  0.327850     4
14  0.966102  1.0  0.0          1.0  0.015636     2
15  0.644068  0.0  1.0          0.0  0.194696     1
16  0.067797  0.0  1.0          0.0  0.616049     4
17  0.864407  1.0  1.0          1.0  0.315154     4
18  0.338983  1.0  0.5          0.0  0.049284     3
19  0.423729  0.0  0.0          0.0  0.158859     3
20  0.542373  1.0  0.0          0.0  0.852868     4
21  0.288136  0.0  0.5          1.0  0.037776     3
22  0.932203  0.0  0.5          1.0  0.444681     4
23  0.627119  1.0  0.0          0.0  0.833479     4
24  0.389831  1.0  0.0          1.0  0.376071     4
25  0.576271  1.0  0.0          0.0  0.229189     3
26  0.152542  1.0  0.5          1.0  0.610326     4
27  0.457627  0.0  1.0          1.0  0.461786     4
28  1.000000  1.0  0.0          0.0  0.177309     3
29  0.220339  0.0  0.5          1.0  0.206705     3
30  0.677966  0.0  1.0          1.0  0.147226     1
31  0.338983  0.0  1.0          1.0  0.207174     0
32  0.610169  1.0  1.0          0.0  0.158672     1
33  0.915254  0.0  0.5          1.0  0.118707     3
34  0.983051  0.0  1.0          1.0  0.377728     4
35  0.576271  1.0  1.0          0.0  0.000000     0
36  0.830508  0.0  0.0          0.0  0.608919     4
37  0.762712  1.0  1.0          0.0  0.073551     1
38  1.000000  1.0  1.0          0.0  0.286666     4
39  0.118644  0.0  1.0          0.0  0.517512     4
40  0.406780  1.0  1.0          1.0  0.106167     0
41  0.779661  1.0  0.5          1.0  0.099256     3
42  0.372881  0.0  0.0          0.0  0.179405     3
43  0.186441  0.0  1.0          0.0  0.188817     0
44  0.711864  0.0  0.5          0.0  0.613672     4
45  0.779661  0.0  0.0          0.0  0.033492     3
46  0.118644  1.0  0.0          1.0  0.058853     2
47  0.576271  1.0  1.0          0.0  0.076021     0
48  0.898305  1.0  1.0          1.0  0.148227     1
49  0.728814  1.0  1.0          1.0  0.397836     4
50  0.677966  1.0  0.5          0.0  0.031021     3
51  0.966102  0.0  0.0          0.0  0.261836     3
52  0.372881  1.0  0.0          0.0  0.326944     4
53  0.576271  1.0  0.0          1.0  0.133467     2
54  0.694915  0.0  0.0          1.0  0.165676     2
55  0.271186  1.0  1.0          0.0  0.155044     0
56  0.644068  1.0  0.0          1.0  0.522046     4
57  0.745763  0.0  0.0          1.0  0.130559     2
58  0.322034  0.0  0.0          0.0  0.208081     3
59  0.254237  0.0  0.5          1.0  0.130527     3

**<h1> Training**

In [17]:
models = dict()

In [18]:
# training algorithm seed
random.seed(1)

<h2> Evaluate function

In [19]:
# get functions from evaluate.py in colab
# if wanna edit hv to edit in evaluate.py

#colab file path
%run '/content/function/evaluate.py'
## import evaluate_algorithm

<h2> Neural Network

In [20]:
# get functions from neural_network.py in colab
# if wanna edit hv to edit in neural_network.py

#colab file path
%run '/content/model/neural_network_classification.py'
## import back_propagation

In [21]:
nn_pred = back_propagation(train, test, 0.1, 500, 10)
nn_pred[:10]

>epoch=0, lrate=0.100, error=531.157
>epoch=1, lrate=0.100, error=320.050
>epoch=2, lrate=0.100, error=131.801
>epoch=3, lrate=0.100, error=95.620
>epoch=4, lrate=0.100, error=95.327
>epoch=5, lrate=0.100, error=95.137
>epoch=6, lrate=0.100, error=94.954
>epoch=7, lrate=0.100, error=94.764
>epoch=8, lrate=0.100, error=94.559
>epoch=9, lrate=0.100, error=94.337
>epoch=10, lrate=0.100, error=94.092
>epoch=11, lrate=0.100, error=93.821
>epoch=12, lrate=0.100, error=93.521
>epoch=13, lrate=0.100, error=93.186
>epoch=14, lrate=0.100, error=92.814
>epoch=15, lrate=0.100, error=92.401
>epoch=16, lrate=0.100, error=91.941
>epoch=17, lrate=0.100, error=91.434
>epoch=18, lrate=0.100, error=90.875
>epoch=19, lrate=0.100, error=90.264
>epoch=20, lrate=0.100, error=89.603
>epoch=21, lrate=0.100, error=88.891
>epoch=22, lrate=0.100, error=88.134
>epoch=23, lrate=0.100, error=87.335
>epoch=24, lrate=0.100, error=86.502
>epoch=25, lrate=0.100, error=85.640
>epoch=26, lrate=0.100, error=84.756
>epoch=27, lrate=0.100, error=83.857
>epoch=28, lrate=0.100, error=82.946
>epoch=29, lrate=0.100, error=82.029
>epoch=30, lrate=0.100, error=81.109
>epoch=31, lrate=0.100, error=80.190
>epoch=32, lrate=0.100, error=79.273
>epoch=33, lrate=0.100, error=78.361
>epoch=34, lrate=0.100, error=77.455
>epoch=35, lrate=0.100, error=76.558
>epoch=36, lrate=0.100, error=75.671
>epoch=37, lrate=0.100, error=74.795
>epoch=38, lrate=0.100, error=73.932
>epoch=39, lrate=0.100, error=73.083
>epoch=40, lrate=0.100, error=72.249
>epoch=41, lrate=0.100, error=71.432
>epoch=42, lrate=0.100, error=70.631
>epoch=43, lrate=0.100, error=69.848
>epoch=44, lrate=0.100, error=69.083
>epoch=45, lrate=0.100, error=68.335
>epoch=46, lrate=0.100, error=67.606
>epoch=47, lrate=0.100, error=66.894
>epoch=48, lrate=0.100, error=66.201
>epoch=49, lrate=0.100, error=65.525
>epoch=50, lrate=0.100, error=64.867
>epoch=51, lrate=0.100, error=64.226
>epoch=52, lrate=0.100, error=63.601
>epoch=53, lrate=0.100, error=62.993
>epoch=54, lrate=0.100, error=62.400
>epoch=55, lrate=0.100, error=61.823
>epoch=56, lrate=0.100, error=61.261
>epoch=57, lrate=0.100, error=60.712
>epoch=58, lrate=0.100, error=60.178
>epoch=59, lrate=0.100, error=59.656
>epoch=60, lrate=0.100, error=59.147
>epoch=61, lrate=0.100, error=58.649
>epoch=62, lrate=0.100, error=58.163
>epoch=63, lrate=0.100, error=57.687
>epoch=64, lrate=0.100, error=57.222
>epoch=65, lrate=0.100, error=56.765
>epoch=66, lrate=0.100, error=56.318
>epoch=67, lrate=0.100, error=55.878
>epoch=68, lrate=0.100, error=55.446
>epoch=69, lrate=0.100, error=55.021
>epoch=70, lrate=0.100, error=54.603
>epoch=71, lrate=0.100, error=54.191
>epoch=72, lrate=0.100, error=53.784
>epoch=73, lrate=0.100, error=53.382
>epoch=74, lrate=0.100, error=52.985
>epoch=75, lrate=0.100, error=52.592
>epoch=76, lrate=0.100, error=52.203
>epoch=77, lrate=0.100, error=51.818
>epoch=78, lrate=0.100, error=51.437
>epoch=79, lrate=0.100, error=51.058
>epoch=80, lrate=0.100, error=50.683
>epoch=81, lrate=0.100, error=50.310
>epoch=82, lrate=0.100, error=49.941
>epoch=83, lrate=0.100, error=49.574
>epoch=84, lrate=0.100, error=49.210
>epoch=85, lrate=0.100, error=48.849
>epoch=86, lrate=0.100, error=48.490
>epoch=87, lrate=0.100, error=48.135
>epoch=88, lrate=0.100, error=47.782
>epoch=89, lrate=0.100, error=47.433
>epoch=90, lrate=0.100, error=47.087
>epoch=91, lrate=0.100, error=46.744
>epoch=92, lrate=0.100, error=46.405
>epoch=93, lrate=0.100, error=46.069
>epoch=94, lrate=0.100, error=45.737
>epoch=95, lrate=0.100, error=45.409
>epoch=96, lrate=0.100, error=45.085
>epoch=97, lrate=0.100, error=44.765
>epoch=98, lrate=0.100, error=44.449
>epoch=99, lrate=0.100, error=44.137
>epoch=100, lrate=0.100, error=43.829
>epoch=101, lrate=0.100, error=43.526
>epoch=102, lrate=0.100, error=43.227
>epoch=103, lrate=0.100, error=42.933
>epoch=104, lrate=0.100, error=42.642
>epoch=105, lrate=0.100, error=42.357
>epoch=106, lrate=0.100, error=42.075
>epoch=107, lrate=0.100, error=41.797
>epoch=108, lrate=0.100, error=41.524
>epoch=109, lrate=0.100, error=41.255
>epoch=110, lrate=0.100, error=40.990
>epoch=111, lrate=0.100, error=40.729
>epoch=112, lrate=0.100, error=40.472
>epoch=113, lrate=0.100, error=40.218
>epoch=114, lrate=0.100, error=39.968
>epoch=115, lrate=0.100, error=39.722
>epoch=116, lrate=0.100, error=39.479
>epoch=117, lrate=0.100, error=39.239
>epoch=118, lrate=0.100, error=39.003
>epoch=119, lrate=0.100, error=38.770
>epoch=120, lrate=0.100, error=38.539
>epoch=121, lrate=0.100, error=38.312
>epoch=122, lrate=0.100, error=38.087
>epoch=123, lrate=0.100, error=37.865
>epoch=124, lrate=0.100, error=37.645
>epoch=125, lrate=0.100, error=37.428
>epoch=126, lrate=0.100, error=37.213
>epoch=127, lrate=0.100, error=37.000
>epoch=128, lrate=0.100, error=36.789
>epoch=129, lrate=0.100, error=36.580
>epoch=130, lrate=0.100, error=36.373
>epoch=131, lrate=0.100, error=36.167
>epoch=132, lrate=0.100, error=35.964
>epoch=133, lrate=0.100, error=35.762
>epoch=134, lrate=0.100, error=35.561
>epoch=135, lrate=0.100, error=35.362
>epoch=136, lrate=0.100, error=35.165
>epoch=137, lrate=0.100, error=34.968
>epoch=138, lrate=0.100, error=34.773
>epoch=139, lrate=0.100, error=34.580
>epoch=140, lrate=0.100, error=34.387
>epoch=141, lrate=0.100, error=34.196
>epoch=142, lrate=0.100, error=34.005
>epoch=143, lrate=0.100, error=33.816
>epoch=144, lrate=0.100, error=33.628
>epoch=145, lrate=0.100, error=33.441
>epoch=146, lrate=0.100, error=33.255
>epoch=147, lrate=0.100, error=33.069
>epoch=148, lrate=0.100, error=32.885
>epoch=149, lrate=0.100, error=32.702
>epoch=150, lrate=0.100, error=32.519
>epoch=151, lrate=0.100, error=32.338
>epoch=152, lrate=0.100, error=32.157
>epoch=153, lrate=0.100, error=31.977
>epoch=154, lrate=0.100, error=31.798
>epoch=155, lrate=0.100, error=31.620
>epoch=156, lrate=0.100, error=31.442
>epoch=157, lrate=0.100, error=31.266
>epoch=158, lrate=0.100, error=31.090
>epoch=159, lrate=0.100, error=30.915
>epoch=160, lrate=0.100, error=30.740
>epoch=161, lrate=0.100, error=30.567
>epoch=162, lrate=0.100, error=30.394
>epoch=163, lrate=0.100, error=30.221
>epoch=164, lrate=0.100, error=30.049
>epoch=165, lrate=0.100, error=29.878
>epoch=166, lrate=0.100, error=29.708
>epoch=167, lrate=0.100, error=29.538
>epoch=168, lrate=0.100, error=29.368
>epoch=169, lrate=0.100, error=29.200
>epoch=170, lrate=0.100, error=29.031
>epoch=171, lrate=0.100, error=28.863
>epoch=172, lrate=0.100, error=28.696
>epoch=173, lrate=0.100, error=28.529
>epoch=174, lrate=0.100, error=28.362
>epoch=175, lrate=0.100, error=28.196
>epoch=176, lrate=0.100, error=28.030
>epoch=177, lrate=0.100, error=27.865
>epoch=178, lrate=0.100, error=27.699
>epoch=179, lrate=0.100, error=27.535
>epoch=180, lrate=0.100, error=27.370
>epoch=181, lrate=0.100, error=27.206
>epoch=182, lrate=0.100, error=27.042
>epoch=183, lrate=0.100, error=26.878
>epoch=184, lrate=0.100, error=26.714
>epoch=185, lrate=0.100, error=26.551
>epoch=186, lrate=0.100, error=26.388
>epoch=187, lrate=0.100, error=26.225
>epoch=188, lrate=0.100, error=26.063
>epoch=189, lrate=0.100, error=25.900
>epoch=190, lrate=0.100, error=25.738
>epoch=191, lrate=0.100, error=25.576
>epoch=192, lrate=0.100, error=25.415
>epoch=193, lrate=0.100, error=25.253
>epoch=194, lrate=0.100, error=25.092
>epoch=195, lrate=0.100, error=24.931
>epoch=196, lrate=0.100, error=24.771
>epoch=197, lrate=0.100, error=24.611
>epoch=198, lrate=0.100, error=24.451
>epoch=199, lrate=0.100, error=24.291
>epoch=200, lrate=0.100, error=24.132
>epoch=201, lrate=0.100, error=23.974
>epoch=202, lrate=0.100, error=23.815
>epoch=203, lrate=0.100, error=23.658
>epoch=204, lrate=0.100, error=23.501
>epoch=205, lrate=0.100, error=23.344
>epoch=206, lrate=0.100, error=23.188
>epoch=207, lrate=0.100, error=23.032
>epoch=208, lrate=0.100, error=22.877
>epoch=209, lrate=0.100, error=22.723
>epoch=210, lrate=0.100, error=22.569
>epoch=211, lrate=0.100, error=22.416
>epoch=212, lrate=0.100, error=22.264
>epoch=213, lrate=0.100, error=22.113
>epoch=214, lrate=0.100, error=21.962
>epoch=215, lrate=0.100, error=21.812
>epoch=216, lrate=0.100, error=21.663
>epoch=217, lrate=0.100, error=21.514
>epoch=218, lrate=0.100, error=21.367
>epoch=219, lrate=0.100, error=21.220
>epoch=220, lrate=0.100, error=21.075
>epoch=221, lrate=0.100, error=20.930
>epoch=222, lrate=0.100, error=20.786
>epoch=223, lrate=0.100, error=20.644
>epoch=224, lrate=0.100, error=20.502
>epoch=225, lrate=0.100, error=20.362
>epoch=226, lrate=0.100, error=20.222
>epoch=227, lrate=0.100, error=20.084
>epoch=228, lrate=0.100, error=19.947
>epoch=229, lrate=0.100, error=19.811
>epoch=230, lrate=0.100, error=19.676
>epoch=231, lrate=0.100, error=19.543
>epoch=232, lrate=0.100, error=19.411
>epoch=233, lrate=0.100, error=19.280
>epoch=234, lrate=0.100, error=19.151
>epoch=235, lrate=0.100, error=19.023
>epoch=236, lrate=0.100, error=18.896
>epoch=237, lrate=0.100, error=18.770
>epoch=238, lrate=0.100, error=18.646
>epoch=239, lrate=0.100, error=18.523
>epoch=240, lrate=0.100, error=18.402
>epoch=241, lrate=0.100, error=18.282
>epoch=242, lrate=0.100, error=18.163
>epoch=243, lrate=0.100, error=18.045
>epoch=244, lrate=0.100, error=17.929
>epoch=245, lrate=0.100, error=17.814
>epoch=246, lrate=0.100, error=17.700
>epoch=247, lrate=0.100, error=17.587
>epoch=248, lrate=0.100, error=17.476
>epoch=249, lrate=0.100, error=17.365
>epoch=250, lrate=0.100, error=17.256
>epoch=251, lrate=0.100, error=17.148
>epoch=252, lrate=0.100, error=17.041
>epoch=253, lrate=0.100, error=16.936
>epoch=254, lrate=0.100, error=16.831
>epoch=255, lrate=0.100, error=16.727
>epoch=256, lrate=0.100, error=16.624
>epoch=257, lrate=0.100, error=16.523
>epoch=258, lrate=0.100, error=16.422
>epoch=259, lrate=0.100, error=16.322
>epoch=260, lrate=0.100, error=16.224
>epoch=261, lrate=0.100, error=16.126
>epoch=262, lrate=0.100, error=16.029
>epoch=263, lrate=0.100, error=15.933
>epoch=264, lrate=0.100, error=15.838
>epoch=265, lrate=0.100, error=15.744
>epoch=266, lrate=0.100, error=15.651
>epoch=267, lrate=0.100, error=15.558
>epoch=268, lrate=0.100, error=15.467
>epoch=269, lrate=0.100, error=15.376
>epoch=270, lrate=0.100, error=15.286
>epoch=271, lrate=0.100, error=15.197
>epoch=272, lrate=0.100, error=15.109
>epoch=273, lrate=0.100, error=15.021
>epoch=274, lrate=0.100, error=14.935
>epoch=275, lrate=0.100, error=14.849
>epoch=276, lrate=0.100, error=14.764
>epoch=277, lrate=0.100, error=14.680
>epoch=278, lrate=0.100, error=14.596
>epoch=279, lrate=0.100, error=14.513
>epoch=280, lrate=0.100, error=14.431
>epoch=281, lrate=0.100, error=14.350
>epoch=282, lrate=0.100, error=14.270
>epoch=283, lrate=0.100, error=14.190
>epoch=284, lrate=0.100, error=14.111
>epoch=285, lrate=0.100, error=14.032
>epoch=286, lrate=0.100, error=13.954
>epoch=287, lrate=0.100, error=13.877
>epoch=288, lrate=0.100, error=13.801
>epoch=289, lrate=0.100, error=13.725
>epoch=290, lrate=0.100, error=13.650
>epoch=291, lrate=0.100, error=13.576
>epoch=292, lrate=0.100, error=13.502
>epoch=293, lrate=0.100, error=13.429
>epoch=294, lrate=0.100, error=13.357
>epoch=295, lrate=0.100, error=13.285
>epoch=296, lrate=0.100, error=13.214
>epoch=297, lrate=0.100, error=13.144
>epoch=298, lrate=0.100, error=13.074
>epoch=299, lrate=0.100, error=13.004
>epoch=300, lrate=0.100, error=12.936
>epoch=301, lrate=0.100, error=12.868
>epoch=302, lrate=0.100, error=12.800
>epoch=303, lrate=0.100, error=12.733
>epoch=304, lrate=0.100, error=12.667
>epoch=305, lrate=0.100, error=12.601
>epoch=306, lrate=0.100, error=12.536
>epoch=307, lrate=0.100, error=12.471
>epoch=308, lrate=0.100, error=12.407
>epoch=309, lrate=0.100, error=12.344
>epoch=310, lrate=0.100, error=12.281
>epoch=311, lrate=0.100, error=12.218
>epoch=312, lrate=0.100, error=12.156
>epoch=313, lrate=0.100, error=12.095
>epoch=314, lrate=0.100, error=12.034
>epoch=315, lrate=0.100, error=11.974
>epoch=316, lrate=0.100, error=11.914
>epoch=317, lrate=0.100, error=11.855
>epoch=318, lrate=0.100, error=11.796
>epoch=319, lrate=0.100, error=11.737
>epoch=320, lrate=0.100, error=11.680
>epoch=321, lrate=0.100, error=11.622
>epoch=322, lrate=0.100, error=11.565
>epoch=323, lrate=0.100, error=11.509
>epoch=324, lrate=0.100, error=11.453
>epoch=325, lrate=0.100, error=11.397
>epoch=326, lrate=0.100, error=11.342
>epoch=327, lrate=0.100, error=11.288
>epoch=328, lrate=0.100, error=11.233
>epoch=329, lrate=0.100, error=11.180
>epoch=330, lrate=0.100, error=11.126
>epoch=331, lrate=0.100, error=11.074
>epoch=332, lrate=0.100, error=11.021
>epoch=333, lrate=0.100, error=10.969
>epoch=334, lrate=0.100, error=10.918
>epoch=335, lrate=0.100, error=10.866
>epoch=336, lrate=0.100, error=10.816
>epoch=337, lrate=0.100, error=10.765
>epoch=338, lrate=0.100, error=10.715
>epoch=339, lrate=0.100, error=10.666
>epoch=340, lrate=0.100, error=10.617
>epoch=341, lrate=0.100, error=10.568
>epoch=342, lrate=0.100, error=10.519
>epoch=343, lrate=0.100, error=10.471
>epoch=344, lrate=0.100, error=10.424
>epoch=345, lrate=0.100, error=10.376
>epoch=346, lrate=0.100, error=10.329
>epoch=347, lrate=0.100, error=10.283
>epoch=348, lrate=0.100, error=10.237
>epoch=349, lrate=0.100, error=10.191
>epoch=350, lrate=0.100, error=10.145
>epoch=351, lrate=0.100, error=10.100
>epoch=352, lrate=0.100, error=10.055
>epoch=353, lrate=0.100, error=10.011
>epoch=354, lrate=0.100, error=9.967
>epoch=355, lrate=0.100, error=9.923
>epoch=356, lrate=0.100, error=9.879
>epoch=357, lrate=0.100, error=9.836
>epoch=358, lrate=0.100, error=9.793
>epoch=359, lrate=0.100, error=9.751
>epoch=360, lrate=0.100, error=9.709
>epoch=361, lrate=0.100, error=9.667
>epoch=362, lrate=0.100, error=9.625
>epoch=363, lrate=0.100, error=9.584
>epoch=364, lrate=0.100, error=9.543
>epoch=365, lrate=0.100, error=9.502
>epoch=366, lrate=0.100, error=9.462
>epoch=367, lrate=0.100, error=9.422
>epoch=368, lrate=0.100, error=9.382
>epoch=369, lrate=0.100, error=9.342
>epoch=370, lrate=0.100, error=9.303
>epoch=371, lrate=0.100, error=9.264
>epoch=372, lrate=0.100, error=9.225
>epoch=373, lrate=0.100, error=9.187
>epoch=374, lrate=0.100, error=9.149
>epoch=375, lrate=0.100, error=9.111
>epoch=376, lrate=0.100, error=9.073
>epoch=377, lrate=0.100, error=9.036
>epoch=378, lrate=0.100, error=8.999
>epoch=379, lrate=0.100, error=8.962
>epoch=380, lrate=0.100, error=8.926
>epoch=381, lrate=0.100, error=8.889
>epoch=382, lrate=0.100, error=8.853
>epoch=383, lrate=0.100, error=8.817
>epoch=384, lrate=0.100, error=8.782
>epoch=385, lrate=0.100, error=8.746
>epoch=386, lrate=0.100, error=8.711
>epoch=387, lrate=0.100, error=8.676
>epoch=388, lrate=0.100, error=8.642
>epoch=389, lrate=0.100, error=8.607
>epoch=390, lrate=0.100, error=8.573
>epoch=391, lrate=0.100, error=8.539
>epoch=392, lrate=0.100, error=8.506
>epoch=393, lrate=0.100, error=8.472
>epoch=394, lrate=0.100, error=8.439
>epoch=395, lrate=0.100, error=8.406
>epoch=396, lrate=0.100, error=8.373
>epoch=397, lrate=0.100, error=8.340
>epoch=398, lrate=0.100, error=8.308
>epoch=399, lrate=0.100, error=8.276
>epoch=400, lrate=0.100, error=8.244
>epoch=401, lrate=0.100, error=8.212
>epoch=402, lrate=0.100, error=8.181
>epoch=403, lrate=0.100, error=8.149
>epoch=404, lrate=0.100, error=8.118
>epoch=405, lrate=0.100, error=8.087
>epoch=406, lrate=0.100, error=8.056
>epoch=407, lrate=0.100, error=8.026
>epoch=408, lrate=0.100, error=7.996
>epoch=409, lrate=0.100, error=7.965
>epoch=410, lrate=0.100, error=7.935
>epoch=411, lrate=0.100, error=7.906
>epoch=412, lrate=0.100, error=7.876
>epoch=413, lrate=0.100, error=7.847
>epoch=414, lrate=0.100, error=7.817
>epoch=415, lrate=0.100, error=7.788
>epoch=416, lrate=0.100, error=7.759
>epoch=417, lrate=0.100, error=7.731
>epoch=418, lrate=0.100, error=7.702
>epoch=419, lrate=0.100, error=7.674
>epoch=420, lrate=0.100, error=7.646
>epoch=421, lrate=0.100, error=7.618
>epoch=422, lrate=0.100, error=7.590
>epoch=423, lrate=0.100, error=7.562
>epoch=424, lrate=0.100, error=7.535
>epoch=425, lrate=0.100, error=7.507
>epoch=426, lrate=0.100, error=7.480
>epoch=427, lrate=0.100, error=7.453
>epoch=428, lrate=0.100, error=7.426
>epoch=429, lrate=0.100, error=7.400
>epoch=430, lrate=0.100, error=7.373
>epoch=431, lrate=0.100, error=7.347
>epoch=432, lrate=0.100, error=7.321
>epoch=433, lrate=0.100, error=7.295
>epoch=434, lrate=0.100, error=7.269
>epoch=435, lrate=0.100, error=7.243
>epoch=436, lrate=0.100, error=7.217
>epoch=437, lrate=0.100, error=7.192
>epoch=438, lrate=0.100, error=7.167
>epoch=439, lrate=0.100, error=7.142
>epoch=440, lrate=0.100, error=7.117
>epoch=441, lrate=0.100, error=7.092
>epoch=442, lrate=0.100, error=7.067
>epoch=443, lrate=0.100, error=7.042
>epoch=444, lrate=0.100, error=7.018
>epoch=445, lrate=0.100, error=6.994
>epoch=446, lrate=0.100, error=6.970
>epoch=447, lrate=0.100, error=6.946
>epoch=448, lrate=0.100, error=6.922
>epoch=449, lrate=0.100, error=6.898
>epoch=450, lrate=0.100, error=6.874
>epoch=451, lrate=0.100, error=6.851
>epoch=452, lrate=0.100, error=6.828
>epoch=453, lrate=0.100, error=6.804
>epoch=454, lrate=0.100, error=6.781
>epoch=455, lrate=0.100, error=6.758
>epoch=456, lrate=0.100, error=6.736
>epoch=457, lrate=0.100, error=6.713
>epoch=458, lrate=0.100, error=6.690
>epoch=459, lrate=0.100, error=6.668
>epoch=460, lrate=0.100, error=6.646
>epoch=461, lrate=0.100, error=6.623
>epoch=462, lrate=0.100, error=6.601
>epoch=463, lrate=0.100, error=6.579
>epoch=464, lrate=0.100, error=6.557
>epoch=465, lrate=0.100, error=6.536
>epoch=466, lrate=0.100, error=6.514
>epoch=467, lrate=0.100, error=6.493
>epoch=468, lrate=0.100, error=6.471
>epoch=469, lrate=0.100, error=6.450
>epoch=470, lrate=0.100, error=6.429
>epoch=471, lrate=0.100, error=6.408
>epoch=472, lrate=0.100, error=6.387
>epoch=473, lrate=0.100, error=6.366
>epoch=474, lrate=0.100, error=6.345
>epoch=475, lrate=0.100, error=6.325
>epoch=476, lrate=0.100, error=6.304
>epoch=477, lrate=0.100, error=6.284
>epoch=478, lrate=0.100, error=6.264
>epoch=479, lrate=0.100, error=6.244
>epoch=480, lrate=0.100, error=6.224
>epoch=481, lrate=0.100, error=6.204
>epoch=482, lrate=0.100, error=6.184
>epoch=483, lrate=0.100, error=6.164
>epoch=484, lrate=0.100, error=6.145
>epoch=485, lrate=0.100, error=6.125
>epoch=486, lrate=0.100, error=6.106
>epoch=487, lrate=0.100, error=6.086
>epoch=488, lrate=0.100, error=6.067
>epoch=489, lrate=0.100, error=6.048
>epoch=490, lrate=0.100, error=6.029
>epoch=491, lrate=0.100, error=6.010
>epoch=492, lrate=0.100, error=5.991
>epoch=493, lrate=0.100, error=5.972
>epoch=494, lrate=0.100, error=5.954
>epoch=495, lrate=0.100, error=5.935
>epoch=496, lrate=0.100, error=5.917
>epoch=497, lrate=0.100, error=5.898
>epoch=498, lrate=0.100, error=5.880
>epoch=499, lrate=0.100, error=5.862

[2, 3, 3, 0, 4, 1, 3, 0, 4, 0]

In [22]:
nn_actual = [row[-1] for row in test]
nn_actual[:10]

[3, 3, 3, 4, 3, 3, 3, 0, 4, 0]

In [23]:
accuracy_metric(nn_actual, nn_pred)

66.66666666666666

In [24]:
models['neural_network'] = accuracy_metric(nn_actual, nn_pred)
models

{'neural_network': 66.66666666666666}

<h2> Decision Tree

In [25]:
# get functions from trees.py.py in colab
# if wanna edit hv to edit in trees.py.py
# this one's for both decision tree and random forest

#colab file path
%run '/content/model/trees.py'

In [26]:
dt_classifier = DecisionTreeClassifier(min_samples_split=3, max_depth=3)
dt_classifier.fit(train_X.values, train_y.values.reshape(-1,1))

In [27]:
dt_pred = dt_classifier.predict(test_X.values)
dt_pred[:10]

[3.0, 3.0, 3.0, 4.0, 3.0, 3.0, 3.0, 0.0, 4.0, 0.0]

In [28]:
dt_actual = [row[-1] for row in test]
dt_actual[:10]

[3, 3, 3, 4, 3, 3, 3, 0, 4, 0]

In [29]:
accuracy_metric(dt_actual, dt_pred)

98.33333333333333

In [30]:
models['decision_tree'] = accuracy_metric(dt_actual, dt_pred)
models

{'decision_tree': 98.33333333333333, 'neural_network': 66.66666666666666}

<h2> Random forest

In [45]:
# get functions from trees.py.py in colab
# if wanna edit hv to edit in trees.py.py
# this one's for both decision tree and random forest

#colab file path
%run '/content/model/classify_trees.py'

In [46]:
max_depth = 10
min_size = 1
sample_size = 1.0
n_trees = 10
n_features = int(((len(train[0])-1)**(1/2)))

rf_pred = random_forest_classifier(train, test, max_depth, min_size, sample_size, n_trees, n_features)
rf_pred[:10]

[3, 3, 3, 4, 3, 3, 3, 0, 4, 0]

In [47]:
rf_actual = [row[-1] for row in test]
rf_actual[:10]

[3, 3, 3, 4, 3, 3, 3, 0, 4, 0]

In [48]:
accuracy_metric(rf_actual, rf_pred)

91.66666666666666

In [49]:
models['random_forest'] = accuracy_metric(rf_actual, rf_pred)
models

{'decision_tree': 98.33333333333333,
 'neural_network': 66.66666666666666,
 'random_forest': 91.66666666666666}