<a href="https://colab.research.google.com/github/tintinap/Maching-Learning-Final-Exam/blob/main/mental_health_burning_rate_of_employee_main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('https://raw.githubusercontent.com/tintinap/Maching-Learning-Final-Exam/main/dataset/mental_health/train.csv')
data.head()

                Employee ID Date of Joining  ... Mental Fatigue Score Burn Rate
0  fffe32003000360033003200      2008-09-30  ...                  3.8      0.16
1      fffe3700360033003500      2008-11-30  ...                  5.0      0.36
2  fffe31003300320037003900      2008-03-10  ...                  5.8      0.49
3  fffe32003400380032003900      2008-11-03  ...                  2.6      0.20
4  fffe31003900340031003600      2008-07-24  ...                  6.9      0.52

[5 rows x 9 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22750 entries, 0 to 22749
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Employee ID           22750 non-null  object
 1   Date of Joining       22750 non-null  object
 2   Gender                22750 non-null  object
 3   Company Type          22750 non-null  object
 4   WFH Setup Available   22750 non-null  object
 5   Designation           22750 non-null  float64
 6   Resource Allocation   21369 non-null  float64
 7   Mental Fatigue Score  20633 non-null  float64
 8   Burn Rate             21626 non-null  float64
dtypes: float64(4), object(5)
memory usage: 1.6+ MB

<h3>from data.info(), we got 3 columns with missing values

**<h1> Preprocessing**

In [79]:
# get preprocessinput function from preprocessing.py
# if wanna edit hv to edit in preprocessing.py
%run '/content/function/preprocessing.py'
# import preprocess_input

<h2> Pre-preprocssing Result

In [36]:
X.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21626 entries, 0 to 22749
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date of Joining       21626 non-null  object
 1   Gender                21626 non-null  object
 2   Company Type          21626 non-null  object
 3   WFH Setup Available   21626 non-null  object
 4   Designation           21626 non-null  float64
 5   Resource Allocation   21626 non-null  float64
 6   Mental Fatigue Score  21626 non-null  float64
 7   Burn Rate             21626 non-null  float64
dtypes: float64(4), object(4)
memory usage: 1.5+ MB

In [32]:
{column : len(X[column].unique()) for column in X.columns}

{'Burn Rate': 102,
 'Company Type': 2,
 'Date of Joining': 366,
 'Designation': 6,
 'Gender': 2,
 'Mental Fatigue Score': 102,
 'Resource Allocation': 11,
 'WFH Setup Available': 2}

<h2> Preprocessing result

In [81]:
X, y = preprocess_input(data)

In [82]:
X

       Gender  Company Type  ...  Join Month  Join Day
0         0.0           1.0  ...    0.727273  0.966667
1         1.0           1.0  ...    0.909091  0.966667
2         0.0           0.0  ...    0.181818  0.300000
3         1.0           1.0  ...    0.909091  0.066667
4         0.0           1.0  ...    0.545455  0.766667
...       ...           ...  ...         ...       ...
22745     0.0           1.0  ...    1.000000  0.966667
22746     0.0           0.0  ...    0.000000  0.600000
22747     1.0           1.0  ...    0.909091  0.133333
22748     0.0           1.0  ...    0.000000  0.300000
22749     1.0           0.0  ...    0.000000  0.166667

[21626 rows x 8 columns]

In [73]:
y

0        0.16
1        0.36
2        0.49
3        0.20
4        0.52
         ...
22745    0.41
22746    0.59
22747    0.72
22748    0.52
22749    0.61
Name: Burn Rate, Length: 21626, dtype: float64

**<h1> Training**